PokerKlijent/PokerKlijent/Connected Services/PokerServis/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PokerServis" />
  <xs:element name="BaciKartu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PokerServis" minOccurs="0" name="karta" nillable="true" type="q1:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaciKartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaciKartuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UzmiKartu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UzmiKartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PokerServis" minOccurs="0" name="UzmiKartuResult" nillable="true" type="q2:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dajSveNaStolu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dajSveNaStoluResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PokerServis" minOccurs="0" name="dajSveNaStoluResult" nillable="true" type="q3:ArrayOfKarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>