Predavanje 11/WCFClient/WCFClient/Service References/WcfNasPrimjer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RibaServis" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfNasPrimjer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRibarnica_DajSveRibe_InputMessage">
    <wsdl:part name="parameters" element="tns:DajSveRibe" />
  </wsdl:message>
  <wsdl:message name="IRibarnica_DajSveRibe_OutputMessage">
    <wsdl:part name="parameters" element="tns:DajSveRibeResponse" />
  </wsdl:message>
  <wsdl:message name="IRibarnica_DodajRibu_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajRibu" />
  </wsdl:message>
  <wsdl:message name="IRibarnica_DodajRibu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajRibuResponse" />
  </wsdl:message>
  <wsdl:portType name="IRibarnica">
    <wsdl:operation name="DajSveRibe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRibarnica/DajSveRibe" message="tns:IRibarnica_DajSveRibe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRibarnica/DajSveRibeResponse" message="tns:IRibarnica_DajSveRibe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DodajRibu">
      <wsdl:input wsaw:Action="http://tempuri.org/IRibarnica/DodajRibu" message="tns:IRibarnica_DodajRibu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRibarnica/DodajRibuResponse" message="tns:IRibarnica_DodajRibu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRibarnica" type="tns:IRibarnica">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSveRibe">
      <soap:operation soapAction="http://tempuri.org/IRibarnica/DajSveRibe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DodajRibu">
      <soap:operation soapAction="http://tempuri.org/IRibarnica/DodajRibu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RibaServis">
    <wsdl:port name="BasicHttpBinding_IRibarnica" binding="tns:BasicHttpBinding_IRibarnica">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfNasPrimjer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>