Predavanje 11/WCFClient/WCFClient/Service References/WcfNasPrimjer/WcfNasPrimjer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfNasPrimjer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfNasPrimjer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRiba">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Riba" nillable="true" type="tns:Riba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRiba" nillable="true" type="tns:ArrayOfRiba" />
  <xs:complexType name="Riba">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kolicina" type="xs:double" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Riba" nillable="true" type="tns:Riba" />
</xs:schema>