Predavanje 12/KazinoKlijent2/KazinoKlijent2/Connected Services/KazinoServis/KazinoServis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KazinoServis" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KazinoServis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Karta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Broj" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Karta" nillable="true" type="tns:Karta" />
  <xs:complexType name="ArrayOfKarta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Karta" nillable="true" type="tns:Karta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKarta" nillable="true" type="tns:ArrayOfKarta" />
</xs:schema>