Predavanje 12/KazinoKlijent2/KazinoKlijent2/Connected Services/KazinoServis/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/KazinoServis" />
  <xs:element name="DijeliKartu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DijeliKartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KazinoServis" minOccurs="0" name="DijeliKartuResult" nillable="true" type="q1:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BacamKartu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KazinoServis" minOccurs="0" name="karta" nillable="true" type="q2:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BacamKartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BacamKartuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SveBaceneKarte">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SveBaceneKarteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KazinoServis" minOccurs="0" name="SveBaceneKarteResult" nillable="true" type="q3:ArrayOfKarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>