Predavanje 12/KazinoKlijent2/KazinoKlijent2/Connected Services/KazinoServis/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Kazino" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KazinoServis" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKazino_DijeliKartu_InputMessage">
    <wsdl:part name="parameters" element="tns:DijeliKartu" />
  </wsdl:message>
  <wsdl:message name="IKazino_DijeliKartu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DijeliKartuResponse" />
  </wsdl:message>
  <wsdl:message name="IKazino_BacamKartu_InputMessage">
    <wsdl:part name="parameters" element="tns:BacamKartu" />
  </wsdl:message>
  <wsdl:message name="IKazino_BacamKartu_OutputMessage">
    <wsdl:part name="parameters" element="tns:BacamKartuResponse" />
  </wsdl:message>
  <wsdl:message name="IKazino_SveBaceneKarte_InputMessage">
    <wsdl:part name="parameters" element="tns:SveBaceneKarte" />
  </wsdl:message>
  <wsdl:message name="IKazino_SveBaceneKarte_OutputMessage">
    <wsdl:part name="parameters" element="tns:SveBaceneKarteResponse" />
  </wsdl:message>
  <wsdl:portType name="IKazino">
    <wsdl:operation name="DijeliKartu">
      <wsdl:input wsaw:Action="http://tempuri.org/IKazino/DijeliKartu" message="tns:IKazino_DijeliKartu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKazino/DijeliKartuResponse" message="tns:IKazino_DijeliKartu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BacamKartu">
      <wsdl:input wsaw:Action="http://tempuri.org/IKazino/BacamKartu" message="tns:IKazino_BacamKartu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKazino/BacamKartuResponse" message="tns:IKazino_BacamKartu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SveBaceneKarte">
      <wsdl:input wsaw:Action="http://tempuri.org/IKazino/SveBaceneKarte" message="tns:IKazino_SveBaceneKarte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKazino/SveBaceneKarteResponse" message="tns:IKazino_SveBaceneKarte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKazino" type="tns:IKazino">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DijeliKartu">
      <soap:operation soapAction="http://tempuri.org/IKazino/DijeliKartu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BacamKartu">
      <soap:operation soapAction="http://tempuri.org/IKazino/BacamKartu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SveBaceneKarte">
      <soap:operation soapAction="http://tempuri.org/IKazino/SveBaceneKarte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Kazino">
    <wsdl:port name="BasicHttpBinding_IKazino" binding="tns:BasicHttpBinding_IKazino">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/KazinoServis/Servis/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>