2014/Predavanje 11/WCFClient/WCFClient/Service References/WcfNasPrimjer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfNasPrimjer" />
  <xs:element name="DajSveRibe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DajSveRibeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfNasPrimjer" minOccurs="0" name="DajSveRibeResult" nillable="true" type="q1:ArrayOfRiba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajRibu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfNasPrimjer" minOccurs="0" name="ribetina" nillable="true" type="q2:Riba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajRibuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajRibuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>