2018/Predavanje 12/WcfClient/WcfClient/Connected Services/WcfPokerReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Poker" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServis" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPoker_Uzimamkartu_InputMessage">
    <wsdl:part name="parameters" element="tns:Uzimamkartu" />
  </wsdl:message>
  <wsdl:message name="IPoker_Uzimamkartu_OutputMessage">
    <wsdl:part name="parameters" element="tns:UzimamkartuResponse" />
  </wsdl:message>
  <wsdl:message name="IPoker_BacamKartu_InputMessage">
    <wsdl:part name="parameters" element="tns:BacamKartu" />
  </wsdl:message>
  <wsdl:message name="IPoker_BacamKartu_OutputMessage">
    <wsdl:part name="parameters" element="tns:BacamKartuResponse" />
  </wsdl:message>
  <wsdl:portType name="IPoker">
    <wsdl:operation name="Uzimamkartu">
      <wsdl:input wsaw:Action="http://tempuri.org/IPoker/Uzimamkartu" message="tns:IPoker_Uzimamkartu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPoker/UzimamkartuResponse" message="tns:IPoker_Uzimamkartu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BacamKartu">
      <wsdl:input wsaw:Action="http://tempuri.org/IPoker/BacamKartu" message="tns:IPoker_BacamKartu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPoker/BacamKartuResponse" message="tns:IPoker_BacamKartu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPoker" type="tns:IPoker">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Uzimamkartu">
      <soap:operation soapAction="http://tempuri.org/IPoker/Uzimamkartu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BacamKartu">
      <soap:operation soapAction="http://tempuri.org/IPoker/BacamKartu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Poker">
    <wsdl:port name="BasicHttpBinding_IPoker" binding="tns:BasicHttpBinding_IPoker">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Poker/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>