2018/Predavanje 12/WcfClient/WcfClient/Connected Services/WcfPokerReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServis" />
  <xs:element name="Uzimamkartu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UzimamkartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServis" minOccurs="0" name="UzimamkartuResult" nillable="true" type="q1:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BacamKartu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServis" minOccurs="0" name="karta" nillable="true" type="q2:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BacamKartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BacamKartuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>