2018/Predavanje 12/WcfClient/WcfClient/Connected Services/WcfPokerReference/WcfServis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServis" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Karta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Broj" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Karta" nillable="true" type="tns:Karta" />
</xs:schema>