Predavanje 12/WCFClient/WCFClient/Service References/Diler/Diler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Diler" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServis/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServis/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServis/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServis" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiler_DijeliKartu_InputMessage">
    <wsdl:part name="parameters" element="tns:DijeliKartu" />
  </wsdl:message>
  <wsdl:message name="IDiler_DijeliKartu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DijeliKartuResponse" />
  </wsdl:message>
  <wsdl:message name="IDiler_PrimiKartu_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimiKartu" />
  </wsdl:message>
  <wsdl:message name="IDiler_PrimiKartu_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrimiKartuResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiler">
    <wsdl:operation name="DijeliKartu">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiler/DijeliKartu" message="tns:IDiler_DijeliKartu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiler/DijeliKartuResponse" message="tns:IDiler_DijeliKartu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimiKartu">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiler/PrimiKartu" message="tns:IDiler_PrimiKartu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiler/PrimiKartuResponse" message="tns:IDiler_PrimiKartu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDiler" type="tns:IDiler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DijeliKartu">
      <soap:operation soapAction="http://tempuri.org/IDiler/DijeliKartu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrimiKartu">
      <soap:operation soapAction="http://tempuri.org/IDiler/PrimiKartu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Diler">
    <wsdl:port name="BasicHttpBinding_IDiler" binding="tns:BasicHttpBinding_IDiler">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServis/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>