2016/Predavanje 12/WCFClient/WCFClient/Service References/Diler/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServis/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServis" />
  <xs:element name="DijeliKartu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DijeliKartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServis" minOccurs="0" name="DijeliKartuResult" nillable="true" type="q1:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimiKartu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServis" minOccurs="0" name="k" nillable="true" type="q2:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimiKartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrimiKartuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>